In [0]:
import sqlite3

In [0]:
# Making a new connection database file 'demo_data_sqlite3'
conn = sqlite3.connect('demo_data.sqlite3')

curs = conn.cursor()
curs.execute('drop table if exists demo')

#demo table
create_demo_table = """ CREATE TABLE demo (
                                s PRIMARY KEY,
                                x INT,
                                y INT
)"""

#execute the demo
curs.execute(create_demo_table)

In [0]:
tuples = [('g', 3, 9),
         ('v', 5, 7),
         ('f', 8, 7)]

# Itereate over each row in the tuples

for row in tuples:
  insert_row = 'INSERT INTO demo VALUES' + str(row)
  curs.execute(insert_row)

conn.commit

In [0]:
curs = conn.cursor()

In [0]:
curs

In [0]:
#query total data from the demo
curs.execute('SELECT * FROM demo')
curs.fetchall()

[('g', 3, 9), ('v', 5, 7), ('f', 8, 7)]

In [0]:
questions = ['1: Count how many rows you have - it should be 3!',
            '2: How many rows are there where both "x" and "y" are at least 5?',
            '3: How many unique values of "y" are there (hint - "COUNT()" can accept a keyword "DISTINCT")?']

queries = ['SELECT COUNT(*) FROM demo;',
         'SELECT COUNT(*) FROM demo WHERE x >= 5 AND y >=5;',
         'SELECT COUNT(DISTINCT Y) FROM demo;']


# Itereate over and print each questions execute the corresponding query and rpint the result

for i in range(len(questions)):
  print(questions[i])
  curs.execute(queries[i])
  print(curs.fetchall()[0][0])

1: Count how many rows you have - it should be 3!
3
2: How many rows are there where both "x" and "y" are at least 5?
2
3: How many unique values of "y" are there (hint - "COUNT()" can accept a keyword "DISTINCT")?
2

#Part 2 - The Northwind Database

In [0]:
from google.colab import files 
uploaded = files.upload()

In [0]:
conn = sqlite3.connect('/content/northwind_small (1).sqlite3')
curs = conn.cursor()

In [0]:
conn

In [0]:
curs

In [0]:
# Questions

questions = ['1: What are the ten most expensive items (per unit price) in the database?',
             '2: What is the average age of an employee at the time of their hiring?',
             '3: How does the average age of employee at hire vary by city?']

queries = ['SELECT ProductName, UnitPrice FROM Product ORDER BY UnitPrice DESC;',
           'SELECT ROUND(AVG(HireDate - BirthDate), 1) AS Avg_ag FROM Employee;',
           'SELECT CITY, AVG(HireDate - BirthDate) AS Avg_Age FROM Employee GROUP BY CITY;']

#Use for loop in order to iterate and exevute the questions and queries and to see the results

for i in range(len(questions)):
        print(questions[i])
        curs.execute(queries[i])
        results = curs.fetchall()
        if len(results) == 1:
              print(results)
        else:
              for res in results:
                  print(res)
        print('\n')

1: What are the ten most expensive items (per unit price) in the database?
('Côte de Blaye', 263.5)
('Thüringer Rostbratwurst', 123.79)
('Mishi Kobe Niku', 97)
("Sir Rodney's Marmalade", 81)
('Carnarvon Tigers', 62.5)
('Raclette Courdavault', 55)
('Manjimup Dried Apples', 53)
('Tarte au sucre', 49.3)
('Ipoh Coffee', 46)
('Rössle Sauerkraut', 45.6)
('Schoggi Schokolade', 43.9)
('Vegie-spread', 43.9)
('Northwoods Cranberry Sauce', 40)
('Alice Mutton', 39)
('Queso Manchego La Pastora', 38)
('Gnocchi di nonna Alice', 38)
('Gudbrandsdalsost', 36)
('Mozzarella di Giovanni', 34.8)
('Camembert Pierrot', 34)
('Wimmers gute Semmelknödel', 33.25)
('Perth Pasties', 32.8)
('Mascarpone Fabioli', 32)
('Gumbär Gummibärchen', 31.23)
('Ikura', 31)
("Uncle Bob's Organic Dried Pears", 30)
("Sirop d'érable", 28.5)
('Gravad lax', 26)
('Nord-Ost Matjeshering', 25.89)
("Grandma's Boysenberry Spread", 25)
('Pâté chinois', 24)
('Tofu', 23.25)
("Chef Anton's Cajun Seasoning", 22)
('Flotemysost', 21.5)
("Chef Anton's Gumbo Mix", 21.35)
('Louisiana Fiery Hot Pepper Sauce', 21.05)
('Queso Cabrales', 21)
("Gustaf's Knäckebröd", 21)
('Maxilaku', 20)
('Ravioli Angelo', 19.5)
('Gula Malacca', 19.45)
('Chang', 19)
('Inlagd Sill', 19)
('Boston Crab Meat', 18.4)
('Chai', 18)
('Steeleye Stout', 18)
('Chartreuse verte', 18)
('Lakkalikööri', 18)
('Pavlova', 17.45)
('Louisiana Hot Spiced Okra', 17)
('Valkoinen suklaa', 16.25)
('Genen Shouyu', 15.5)
('Outback Lager', 15)
('Röd Kaviar', 15)
('NuNuCa Nuß-Nougat-Creme', 14)
('Sasquatch Ale', 14)
('Singaporean Hokkien Fried Mee', 14)
('Laughing Lumberjack Lager', 14)
('Escargots de Bourgogne', 13.25)
('Original Frankfurter grüne Soße', 13)
('Chocolade', 12.75)
('Gorgonzola Telino', 12.5)
('Scottish Longbreads', 12.5)
('Spegesild', 12)
('Aniseed Syrup', 10)
("Sir Rodney's Scones", 10)
('Longlife Tofu', 10)
("Jack's New England Clam Chowder", 9.65)
('Rogede sild', 9.5)
('Zaanse koeken', 9.5)
('Teatime Chocolate Biscuits', 9.2)
('Tunnbröd', 9)
('Rhönbräu Klosterbier', 7.75)
('Tourtière', 7.45)
('Filo Mix', 7)
('Konbu', 6)
('Guaraná Fantástica', 4.5)
('Geitost', 2.5)


2: What is the average age of an employee at the time of their hiring?
[(37.2,)]


3: How does the average age of employee at hire vary by city?
('Kirkland', 29.0)
('London', 32.5)
('Redmond', 56.0)
('Seattle', 40.0)
('Tacoma', 40.0)

#Part 3 - Sailing the Northwind Seas

In [0]:
questions = ['1: What are the ten most expensive items (per unit price) in the database *and* their suppliers?',
             '2: What is the largest category (by number of unique products in it)?',
             "3: Who's the employee with the most territories?"]

queries = ['SELECT Product.ProductName, Product.UnitPrice, Supplier.CompanyName AS Supplier FROM Product, Supplier WHERE Product.SupplierID = Supplier.ID ORDER BY UnitPrice DESC LIMIT 10;',
           'SELECT Category.CategoryName, Count(*) FROM Product, Category WHERE Product.CategoryID = Category.ID GROUP BY Product.CategoryID ORDER BY COUNT(*) DESC LIMIT 1;',
           'SELECT Employee.FirstName, Employee.LastName, Count(*) FROM Employee, EmployeeTerritory WHERE EmployeeID = Employee.ID Group BY Employee.ID ORDER BY COUNT(*) DESC LIMIT 1;']

for t in range(len(questions)):
        print(questions[t])
        curs.execute(queries[t])
        results = curs.fetchall()
        if len(results) == 1:
            print(results)
        else: 
            for res in results:
              print(res)
        print('\n')

1: What are the ten most expensive items (per unit price) in the database *and* their suppliers?
('Côte de Blaye', 263.5, 'Aux joyeux ecclésiastiques')
('Thüringer Rostbratwurst', 123.79, 'Plutzer Lebensmittelgroßmärkte AG')
('Mishi Kobe Niku', 97, 'Tokyo Traders')
("Sir Rodney's Marmalade", 81, 'Specialty Biscuits, Ltd.')
('Carnarvon Tigers', 62.5, 'Pavlova, Ltd.')
('Raclette Courdavault', 55, 'Gai pâturage')
('Manjimup Dried Apples', 53, "G'day, Mate")
('Tarte au sucre', 49.3, "Forêts d'érables")
('Ipoh Coffee', 46, 'Leka Trading')
('Rössle Sauerkraut', 45.6, 'Plutzer Lebensmittelgroßmärkte AG')


2: What is the largest category (by number of unique products in it)?
[('Confections', 13)]


3: Who's the employee with the most territories?
[('Robert', 'King', 10)]

#Part 4 Questions and answers

In [0]:
Queustions = ['1: In the Northwind database, what is the type of relationship between the `Employee` and `Territory` tables?',
              '2: What is a situation where a document store (like MongoDB) is appropriate, and what is a situation where it is not appropriate?,
              '3: What is "NewSQL", and what is it trying to achieve?']

Answers = ['1: It looks like Northwind database is "own too many" relationships',
           '2: Usually unstaructured and semi structured data are stored in MongoDB becasue it can hold large amount of data and it is appropriate.',
           '3: I think New SQL is kind of blended aproach to the database systems to reconciele the conflicts'